
<style type="text/css">

	/* STAGE 3 */
	body {
		font-family: Arial;
		text-align: center;
	}

	/* STAGE 2a */
	.submenu-wrap {
		display: none; 
	}

	/* STAGE 1 */
	.submenu-wrap a {
		display: block;
	}

	/* STAGE 2b */
	.dropdown-wrap:hover .submenu-wrap { /* NO SPACES AROUND COLON OR IT WON'T WORK */
		/* explain how the hover is on the dropdown-wrap because otherwise it would hide as soon as you left the root-menu-item so hover needs to be on something that wraps both parts */
		display: block;
	}
</style>

<!-- WRITE the HTML first -->
<!-- Add in the class names as a second step -->
<!-- We need the HREFS or they won't behave like links -->

<div class="dropdown-wrap"> <!-- STAGE 2b -->
	<div class="root-menu-item">Products</div> <!-- STAGE 1 -->
	<div class="submenu-wrap"> <!-- STAGE 2a -->
		<a href="#">Toys</a> <!-- STAGE 1 -->
		<a href="#">Food</a>
		<a href="#">Furniture</a>
	</div>
</div>
