<style type="text/css">
	
	/*
		--- STAGE 3 ---
		Move the CSS into a file and include all the html that's in the final version
	*/

	body {
		font-family: Arial;
		text-align: center;
		background-color: #DADADA;
	}

	.dropdown-wrap {
		display: inline-block;
		margin: 10px;
	}

	.root-menu-item {
		background-color: #4CAF50;
		width: 150px;
		font-size: 18px;
		color: white;
		padding: 16px 0; 
		user-select: none;
	}

	/* STAGE 2 */
	a.root-menu-item {
		padding: 16px 0;
		cursor: pointer;
		display: inline-block;
	}

	.submenu-wrap {
		display: none; 
		width: 150px;
		background-color: #F1F1F1;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		position: absolute;
	}

	.submenu-wrap a {
		display: block;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
	}

	.dropdown-wrap:hover .submenu-wrap { 
		display: block;
	}

	.dropdown-wrap:hover .root-menu-item {
		background-color: #3E8E41;
	}

	.submenu-wrap a:hover {
		background-color: #C7ECCA;
	}
	
</style>

<!-- STAGE 1 -->
<div class="dropdown-wrap">
	<a class="root-menu-item">Home</a>
</div>

<div class="dropdown-wrap"> 
	<div class="root-menu-item">Products</div>
	<div class="submenu-wrap"> 
		<a href="#">Toys</a>
		<a href="#">Food</a>
		<a href="#">Furniture</a>
	</div>
</div>

<div class="dropdown-wrap"> 
	<div class="root-menu-item">Services</div>
	<div class="submenu-wrap"> 
		<a href="#">Support</a>
		<a href="#">Tutorials</a>
		<a href="#">Downloads</a>
	</div>
</div>

<div class="dropdown-wrap"> 
	<div class="root-menu-item">About</div>
	<div class="submenu-wrap"> 
		<a href="#">Team</a>
		<a href="#">Mission</a>
	</div>
</div>