<style type="text/css">
	
	body {
		font-family: Arial;
		text-align: center;
	}

	/* STAGE 2 - (root menu item won't be centered yet) */
	.dropdown-wrap {
		display: inline-block;
	}

	/* STAGE 1 - do these in this order*/
	.root-menu-item {
		background-color: #4CAF50;
		width: 150px;
		font-size: 18px;
		color: white;
		padding: 16px 0; /* explain how this can be 16 0, 16 0 16 0 or separated into 4 properties (use Chrome dev tools to show how this can be expanded) */
	}

	.submenu-wrap {
		display: none; 
		/* STAGE 4 - keep this order */
		width: 150px;
		background-color: #F1F1F1;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* open this in chrom dev tools to explain what it is - point out the importance of using opacity here since it'll probably be on top of other text */
	}

	.submenu-wrap a {
		display: block;
		/* STAGE 3 - Keep this order */
		color: black;
		padding: 12px 16px;
		text-decoration: none;
	}

	.dropdown-wrap:hover .submenu-wrap { 
		display: block;
	}
	
</style>


<div class="dropdown-wrap"> 
	<div class="root-menu-item">Products</div>
	<div class="submenu-wrap"> 
		<a href="#">Toys</a>
		<a href="#">Food</a>
		<a href="#">Furniture</a>
	</div>
</div>