<style type="text/css">
	
	body {
		font-family: Arial;
		text-align: center;
		/* STAGE 7 */
		background-color: #DADADA;
	}

	.dropdown-wrap {
		display: inline-block;
		/* STAGE 6 */
		margin: 10px;
	}

	.root-menu-item {
		background-color: #4CAF50;
		width: 150px;
		font-size: 18px;
		color: white;
		padding: 16px 0; 
		/* STAGE 3 */
		user-select: none;
	}

	.submenu-wrap {
		display: none; 
		width: 150px;
		background-color: #F1F1F1;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		/* STAGE 5 - after more HTML is added */
		position: absolute;
	}

	.submenu-wrap a {
		display: block;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
	}

	.dropdown-wrap:hover .submenu-wrap { 
		display: block;
	}

	/* STAGE 1 */
	.dropdown-wrap:hover .root-menu-item {
		background-color: #3E8E41;
	}

	/* STAGE 2 */
	.submenu-wrap a:hover {
		background-color: #C7ECCA;
	}
	
</style>


<div class="dropdown-wrap"> 
	<div class="root-menu-item">Products</div>
	<div class="submenu-wrap"> 
		<a href="#">Toys</a>
		<a href="#">Food</a>
		<a href="#">Furniture</a>
	</div>
</div>

<!-- STAGE 4 - MORE HTML -->

<div class="dropdown-wrap"> 
	<div class="root-menu-item">Services</div>
	<div class="submenu-wrap"> 
		<a href="#">Support</a>
		<a href="#">Tutorials</a>
		<a href="#">Downloads</a>
	</div>
</div>

<div class="dropdown-wrap"> 
	<div class="root-menu-item">About</div>
	<div class="submenu-wrap"> 
		<a href="#">Team</a>
		<a href="#">Mission</a>
	</div>
</div>