<style type="text/css">
.wrap {
	margin: auto;
	text-align: center;
}

.heading {
    font-size: 30px;
    margin-bottom: 15px;
}

.heading .phone, .heading .tablet {
    display: none;
}

.infographic {
	padding: 15px;
    display: inline-table;
    width: 300px;
}

.infographic .info-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

@media screen and (max-width:899px) {
    .heading .phone {
        display: block;
    }

	.wrap {
		width: 500px;
	}  
}

@media screen and (max-width:1200px) and (min-width:900px) {
    .heading .tablet {
        display: block;
    }

    .infographic {
    	width: 150px;
    }
}
</style>

<title>Responsive Exercise</title>

<div class="wrap">
    <div class="heading">Responsive Exercise
        <div class="phone">(Phone)</div>
        <div class="tablet">(Tablet)</div>
    </div>

    <div class="infographic">
        <div class="info-heading">Step 1: The Idea</div>
        Come up with an idea for a great product. This could be any idea at all. Just remember not to tell anyone. It's a secret.
    </div>

    <div class="infographic">
        <div class="info-heading">Step 2: The Work</div>
        Start making lots of drawings and think about how you'll sell your product to people. Be sure to think of a good domain name that hasn't been taken yet.
    </div>

    <div class="infographic">
        <div class="info-heading">Step 3: Profit!</div>
        Make lots of money selling your product or through ad-revenue on YouTube. Be sure to tell everyone how easy it was and enjoy your early retirement.
    </div>
</div>