<head>
    <!-- STAGE 1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <title>Bootstrap Form</title>
</head>

<body>

    <!-- STAGE 2 -->
    <form>
        <!-- STAGE 3a - MAKE WITHOUT ANY CLASSES FIRST -->
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check-ads" checked>
            <label class="form-check-label" for="check-ads">
                Send me ads
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="check-terms">
            <label class="form-check-label" for="check-terms">
                I agree to the terms
            </label>
        </div>

        <!-- STAGE 3b -->
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="switch-contact">
            <label class="form-check-label" for="switch-contact">Please contact me</label>
        </div>

    </form>

    <!-- STAGE 2 TABLE FIRST, THEN CLASSES -->
    <table class="table table-striped m-3 w-50">
        <tr>
            <th>Collection</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>Baseball Cards</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Stamps</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Cars</td>
            <td>1</td>
        </tr>
    </table>

</body>