<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <title>Bootstrap Form</title>
</head>

<body>

    <form>
    	<!-- STAGE 1a - MAKE WITHOUT CLASSES FIRST -->
        <div class="mb-3">
            <label class="form-label" required>Email address</label>
            <input type="email" class="form-control" placeholder="name@example.com">

            <!-- STAGE 2 -->
            <!-- add is-valid or is-invalid class to the input above to show these -->
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid email.
            </div>
        </div>

        <!-- STAGE 1b -->
        <div class="form-floating mb-3">
            <!-- placeholder is required for floating even though we don't see it -->
            <input type="text" class="form-control" id="home-address" placeholder="address">
            <label for="home-address">Home Address</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check-ads" checked>
            <label class="form-check-label" for="check-ads">
                Send me ads
            </label>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="check-terms">
            <label class="form-check-label" for="check-terms">
                I agree to the terms
            </label>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" id="switch-contact">
            <label class="form-check-label" for="switch-contact">Please contact me</label>
        </div>

        <!-- STAGE 4 -->
        <div class="dropdown mb-3">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Choice
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>

        <!-- STAGE 3 -->
        <div class="mb-3">
            <label class="form-label">Comment</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>

    </form>

    <table class="table table-striped m-3 w-50">
        <tr>
            <th>Collection</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>Baseball Cards</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Stamps</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Cars</td>
            <td>1</td>
        </tr>
    </table>

</body>