<head>
	<!-- STAGE 1 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- STAGE 2 -->
	<style type="text/css">
		.container {
			background: lightgray;
		}
		[class^="col"] {
			border: 1px solid gray;
			padding: 15px;
		}
	</style>
</head>
<body>
	<!-- Possible twelve columns, col-lg-6, col-sm-2 means use 6 columns when large, use 2 columns when small -->

	<!-- STAGE 3: show basic split container first, then col-10 -->
	<div class="container">
		<div class="row">
			<div class="col">
				Left
			</div>
			<div class="col-10">
				Right
			</div>
		</div>
	</div>

	<!-- STAGE 4: show basic 3 piece container first, then lg-6 / sm-2 -->
	<div class="container">
		<div class="row">
			<div class="col">
				Left
			</div>
			<div class="col-lg-6 col-sm-2">
				Middle
			</div>
			<div class="col">
				Right
			</div>
		</div>
	</div>

	<!-- STAGE 5: Nested container -->
	<div class="container">
		<div class="row">
			<div class="col">
				Main Left
			</div>
			<div class="col-10">
				<div class="container">
					<div class="row">
						<div class="col-3">Nested Left</div>
						<div class="col">Nested Right</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>