<style type="text/css">
/* 
- test on IE and safari!
urls
- https://www.w3schools.com/css/css3_animations.asp
- https://css-tricks.com/almanac/properties/a/animation/

stages
- from/to, 0/100% (using commas)
- position, background-color, transform: translate, scale, rotate;
- fill-mode (before we get into duration)
- duration, delay, count, timing (bezier), direction
- animation: single line
- combining animations
- hover effects (reverse on blur vs only on hover)

- rotating an image (background vs img tag)
items
- background-color from to
- background-color 25/50/75/100
- - animation-iteration-count: infinite;
- - animation-direction: alternate;
- sliding
- - animation-timing-function (ease is default vs linear)
- - - bezier: https://cubic-bezier.com/#0,1,1,0
- - animation-fill-mode
- - animation: example 5s linear 2s infinite alternate;
- attaching multiple animations
- 2 animations with two different durations?
- negative animation delay (start in the middle of the animation)
- animation on hover (https://www.w3schools.com/cssref/tryit.asp?filename=trycss_func_cubic-bezier)
*/

/* @keyframes color-changer {
	from {
		background-color: blue;
	}
	to {
		background-color: orange;
	}
} */

/* .box:hover {
	animation-name: spin;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
} */

@keyframes color-changer {
	0% {
		background-color: green;
	}
	15% {
		background-color: yellow;
	}
	30% {
		background-color: orange;
	}
	50% {
		background-color: red;
	}
	70% {
		background-color: orange;
	}
	85% {
		background-color: yellow;
	}
	100% {
		background-color: green;
	}
}

@keyframes sliding {
	from {
		left: 0;
	}
	to {
		left: 600px;
	}
}

@keyframes sliding-box {
	0% {
		left: 0;
		top: 0;
	}

	25% {
		left: 150px;
		top: 0;
	}

	50% {
		left: 150px;
		top: 150px;
	}

	75% {
		left: 0;
		top: 150px;
	}

	100% {
		left: 0;
		top: 0;
	}
}

@keyframes rotating-box {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.rotating {
	width: 150px;
	height: 150px;
	transition: transform 1s;
	background-color: blue;
}

.rotating:hover {
	transform: rotate(180deg);
}

.sliding {
	width: 150px;
	height: 150px;
	left: 600px;
	position: relative;
	border: 1px solid black;
	animation-name: sliding, color-changer;
	animation-duration: 4s;
	/* animation-delay: 2s; */
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.32,.87,.72,.26);
}

.bar-hover {
	height: 150px;
	width: 150px;
	background: red;
	transition: width 1s;
	transition-timing-function: cubic-bezier(.34,.42,.24,.86);
}

.bar-hover:hover {
	width: 600px;
}
</style>

<div class="rotating">

</div>

<div class="bar-hover"></div>