<style type="text/css">
.box {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin: 15px;
	position: relative;
	/* stage 1a */
	background-color: gray;
	display: flex;
}

/* stage 1b */
.box img {
	margin: auto;
}

@keyframes sliding {
	0% {
		top: 0;
		left: 0;
		background-color: green; 
	}
	25% {
		top: 0;
		left: 500px;
		background-color: yellow; 
	}
	50% {
		top: 500px;
		left: 500px;
		background-color: red;
	}
	75% {
		top: 500px;
		left: 0;
		background-color: yellow;
	}
	100% {
		top: 0;
		left: 0;
		background-color: green;
	}
}

.slider {
	animation: sliding 5s alternate infinite linear;
}

@keyframes expanding {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.3);
	}
}

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.expander {
	animation: expanding 1s alternate infinite;
}
.spinner {
	animation: spinning 1s alternate infinite;
}

.hoverspin:hover {
	animation: spinning 1s infinite linear;
}

.spinback {
	transition: transform 0.4s linear;
}
.spinback:hover {
	transform: rotate(180deg);
}

.grow {
	background: red;
	transition: width 1s;
	transition-timing-function: cubic-bezier(.34,.42,.24,.86);
}
.grow:hover {
	width: 600px;
}
</style>

<!-- <div class="box slider"></div> -->

<!-- <div class="box expander"></div> -->
<!-- <div class="box spinner"></div> -->
<div class="box hoverspin">
	<!-- stage 1c -->
	<img src="https://tic.jh.edu/assets/svg/logo_jhmtic_white.svg">
</div>

<div class="box spinback">
	<!-- stage 1c -->
	<img src="https://tic.jh.edu/assets/svg/logo_jhmtic_white.svg">
</div>

<div class="box grow"></div>