<style type="text/css">
.box {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin: 15px;
	position: relative;
}

@keyframes sliding {
	/* stage 1b (percents, positions, colors) */
	0% {
		top: 0;
		left: 0;
		background-color: green; 
	}
	25% {
		top: 0;
		left: 500px;
		background-color: yellow; 
	}
	50% {
		top: 500px;
		left: 500px;
		background-color: red;
	}
	75% {
		top: 500px;
		left: 0;
		background-color: yellow;
	}
	100% {
		top: 0;
		left: 0;
		background-color: green;
	}
}

.slider {
	/* stage 1a: one-liner; (suggest commenting out the original lines first) */
	animation: sliding 5s alternate infinite linear;
}

/* stage 2a */
@keyframes expanding {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.3);
	}
}

/* stage 2a */
@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* stage 2b */
.expander {
	animation: expanding 1s alternate infinite;
}
.spinner {
	animation: spinning 1s alternate infinite;
}

</style>

<!-- stage 2c -->
<!-- <div class="box slider"></div> -->
<div class="box expander"></div>
<div class="box spinner"></div>