<head>
	<title>Panda Walking Animation</title>
	<style type="text/css">
	body {
		background: url(https://git.io/JUW4t);
		background-size: cover; /* stretch to fit */
		overflow: hidden; /* removes scroll bars */
	}

	#street {
		position: relative;
		top: 600px;
		border-bottom: 5px solid black;
	}

	#panda {
		position: relative;
		top: 600px;
		background: url(https://git.io/JUW4L);
		width: 250px;
		height: 330px;

		/* stage 1b - add forward animation */
		animation: walking_animation 1s steps(12) infinite, move_forward 8s linear infinite;
	}

	@keyframes walking_animation {
		from {
			background-position: 0px;
		}
		to {
			background-position: 3000px;
		}
	}

	/* stage 1a */
	@keyframes move_forward {
		from {
			left: -100px;
		}
		to {
			left: 1366px;
		}
	}
	</style>
</head>

<body>
		<div id="panda"></div>
		<div id="street"></div>
</body>