<!-- stage 1b -->
<style type="text/css">
.box {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin: 15px;
	position: relative;
}

/* stage 2a */
@keyframes sliding {
	from {
		left: 0;
		background-color: blue; /* stage 3a */
	}
	to {
		left: 800px;
		background-color: green; /* stage 3a */
	}
}

/* stage 2b */
.slider {
	animation-name: sliding;
	animation-duration: 2s; 

	/* stage 4a */
	animation-fill-mode: forwards;

	/* stage 5a */
	animation-direction: alternate;
	animation-iteration-count: infinite;

	/* stage 6a */
	animation-timing-function: linear;

	/* stage 7a (change timing function, switch back to linear) */
	/* animation-timing-function: cubic-bezier(0,1,1,0); */
	/* Discuss - https://cubic-bezier.com/#0,1,1,0 */

	/* stage 8a */
	animation-delay: -2s; /* start from the end by giving it the full length of time as negative (otherwise just start delay with a positive number) */
}
</style>

<!-- stage 1a (add slider class later) -->
<div class="box slider"></div>
<!-- stage 2c (add the slider class) -->