<!-- CREATE A NEW FILE -->

<!-- stage 2a -->
<head>
	<title>Panda Walking Animation</title>
	<style type="text/css">
	body {
		background: url(https://git.io/JUW4t);
		background-size: cover; /* stretch to fit */
		overflow: hidden; /* removes scroll bars */
	}

	/* stage 3a */
	#street {
		position: relative;
		top: 600px;
		border-bottom: 5px solid black;
	}
	</style>
</head>

<!-- stage 1a -->
<body>
		<div id="panda"></div>
		<div id="street"></div>
</body>