<title>My Awesome Menu</title>

<link rel="stylesheet" type="text/css" href="style.css">

<div class="dropdown-wrap">
	<a href="#" class="root-menu-item">Home</a>
</div>

<div class="dropdown-wrap">
	<div class="root-menu-item">Products</div>
	<div class="submenu-wrap">
		<a href="#">Toys</a>
		<a href="#">Food</a>
		<a href="#">Furniture</a>
	</div>
</div>

<div class="dropdown-wrap">
	<div class="root-menu-item">Services</div>
	<div class="submenu-wrap">
		<a href="#">Support</a>
		<a href="#">Tutorial</a>
		<a href="#">Downloads</a>
	</div>
</div>

<div class="dropdown-wrap">
	<div class="root-menu-item">About</div>
	<div class="submenu-wrap">
		<a href="#">Team</a>
		<a href="#">Mission</a>
	</div>
</div>