body {
	font-family: Arial;
	text-align: center;
	background-color: #DADADA;
}

.dropdown-wrap {
	display: inline-block;
	margin: 10px;
}

.root-menu-item {
	background-color: #4CAF50;
	width: 150px;
	font-size: 18px;
	color: white;
	padding: 16px 0;
	user-select: none;
}

a.root-menu-item {
	padding: 16px 0;
	cursor: pointer;
	display: inline-block; 
	text-decoration: none;
}

.submenu-wrap {
	display: none;
	width: 150px;
	background-color: #F1F1F1;
	box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2);
	position: absolute;
}

.submenu-wrap a {
	display: block;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
}

.dropdown-wrap:hover .submenu-wrap {
	display: block;
}

.dropdown-wrap:hover .root-menu-item {
	background-color: #3E8E41;
}

.submenu-wrap a:hover {
	background-color: #C7ECCA;
}