<style type="text/css">
	.form-wrap {
		border: 1px solid blue;
		width: 500px;
		padding: 10px;
		margin: 15px;
	}

	.outer:hover {
		background: orange;
		width: 150px;
	}

	.inner {
		display: none;
	}

	.outer:hover .inner {
		display: block;
	}
</style>

whatever text
<div class="form-wrap">
	Type something<input type="text" name="">
</div>

<div class="outer">
	outer
	<div class="inner">inner</div>
</div>