<style type="text/css">
    .responsive-wrap {
        width: 800px;
        height: 800px;
        margin: auto;
        border: 5px solid blue;
        /* STAGE 1b */
        font-family: arial;
        text-align: center;
    }

    /* STAGE 1c */
    .size-label {
        color: gray;
        margin: 30px;
        font-size: 30px;
    }

    /* STAGE 1d - have everyone test after this step */
    .size-label.tablet, .size-label.phone {
        display: none;
    }

    /* PHONE */
    @media screen and (max-width:899px) {
        .responsive-wrap {
            width: 250px;
            height: 500px;
            border-color: red;
        }

        /* STAGE 2a */
        .size-label.desktop {
            display: none;
        }

        /* STAGE 2b - test to make sure this works */
        .size-label.phone {
            display: block;
        }
    }

    /* TABLET */
    @media screen and (max-width:1200px) and (min-width:900px) {
        .responsive-wrap {
            width: 500px;
            height: 500px;
            border-color: orange;
        }

        /* STAGE 3a */
        .size-label.desktop {
            display: none;
        }

        /* STAGE 3b */
        .size-label.tablet {
            display: block;
        }
    }
</style>

<div class="responsive-wrap">
    <!-- STAGE 1a: size labels -->
    <div class="size-label desktop">(Desktop)</div>
    <div class="size-label tablet">(Tablet)</div>
    <div class="size-label phone">(Phone)</div>
</div>