<style type="text/css">
    /* STAGE 2: setup the box */
    .responsive-wrap {
        width: 800px;
        height: 800px;
        margin: auto;
        border: 5px solid blue;
    }

    /* STAGE 3: phone media query */
    /* PHONE */
    @media screen and (max-width:899px) {
        .responsive-wrap {
            width: 250px;
            height: 500px;
            border-color: red;
        }
    }

    /* STAGE 4: tablet media query - talk about the "standard" sizes and post that URL after completing this stage file */
    /* TABLET */
    @media screen and (max-width:1200px) and (min-width:900px) {
        .responsive-wrap {
            width: 500px;
            height: 500px;
            border-color: orange;
        }
    }
</style>

<!-- STAGE 1: HTML -->
<div class="responsive-wrap">
</div>