<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>

	<title>Button Icon</title>
</head>

<body>
	<button class="btn btn-info m-3">
		<img src="http://simpleicon.com/wp-content/uploads/rocket-64x64.png" width="25">
		Button with image
	</button>

	<button class="btn btn-success m-3">
		<i class="fas fa-anchor"></i>
		Button with FontAwesome icon
	</button>
</body>