<style type="text/css">
	.menu-wrap {
		margin: 15px;
		padding: 25px;
		font-size: 25px;
		display: inline-block;
		border: 1px solid blue;
	}

	.menu-wrap div {
		padding: 5px;
		cursor: pointer;
	}	

	.menu-wrap div:hover {
		text-decoration: underline;
	}

	.menu-wrap div button {
		float: right;
		margin-left: 15px;
	}

	/* .menu-wrap div button {
		visibility: hidden;
	}

	.menu-wrap div:hover button {
		visibility: visible;
	} */

	.menu-wrap div button {
		display: none;
	}

	.menu-wrap div:hover button	{
		display: inline;
	}
</style>

<div class="menu-wrap">
	<div>Item 1 <button>Edit</button></div>
	<div>Item 2 <button>Edit</button></div>
	<div>Item 3 <button>Edit</button></div>
	<div>Item 4 <button>Edit</button></div>
	<div>Longer Item <button>Edit</button></div>
</div>