<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

	<style type="text/css">
		.container {
			background: lightgray;
		}
		[class^="col"] {
			border: 1px solid gray;
			padding: 15px;
		}
		small {
			font-style: italic;
		}
	</style>

	<title>Wrapping Columns</title>
</head>

<body>

	<div class="alert alert-warning">3 Column responsive (will wrap)</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-lg-6">
				col-<b>lg</b>-6 <small>(will wrap at 992px screen width)</small>
			</div>
			<div class="col">
				col
			</div>
		</div>
	</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-md-6">
				col-<b>md</b>-6 <small>(will wrap at 768)</small>
			</div>
			<div class="col">
				col
			</div>
		</div>
	</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-sm-6">
				col-<b>sm</b>-6 <small>(will wrap at 576)</small>
			</div>
			<div class="col">
				col
			</div>
		</div>
	</div>

	<div class="alert alert-warning">2 Column responsive (will wrap)</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-lg-6">
				col-<b>lg</b>-6 <small>(will wrap at 992px screen width)</small>
			</div>
		</div>
	</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-md-6">
				col-<b>md</b>-6 <small>(will wrap at 768)</small>
			</div>
		</div>
	</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-sm-6">
				col-<b>sm</b>-6 <small>(will wrap at 576)</small>
			</div>
		</div>
	</div>

	<div class="alert alert-success">2 Column non-responsive (will not wrap)</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col">
				col
			</div>
		</div>
	</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col-10">
				col-10
			</div>
		</div>
	</div>

	<div class="alert alert-success">3 Column non-responsive (will not wrap)</div>

	<div class="container mt-3 mb-3">
		<div class="row">
			<div class="col">
				col
			</div>
			<div class="col">
				col
			</div>
			<div class="col">
				col
			</div>
		</div>
	</div>

	<div class="container mb-3">
		<div class="row">
			<div class="col-2">
				col-2
			</div>
			<div class="col-3">
				col-3
			</div>
			<div class="col">
				col
			</div>
		</div>
	</div>
</body>