<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container m-3">
        <div class="row">

            <div class="col-3">

                <ul>
                    <li>Home</li>
                    <li>Products</li>
                    <li>Testimonials</li>
                    <li>About</li>
                </ul>

            </div>

            <div class="col-9">

                <div class="alert alert-primary">This is my content</div>

                <div class="border border-secondary rounded p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius enim nec metus auctor, in ornare nibh accumsan. Aliquam vel arcu sollicitudin turpis placerat mattis. Morbi eget libero quis nisl vestibulum pretium. Curabitur ut ante consectetur, lacinia augue non, convallis neque. Etiam molestie varius augue, vitae blandit massa. Maecenas congue ultricies turpis id elementum. Nam cursus enim et nulla convallis feugiat a vitae metus. Phasellus egestas ligula purus, in faucibus ex imperdiet eget. Suspendisse eget libero sit amet orci imperdiet imperdiet. Nam nulla massa, suscipit nec felis at, semper ultrices ex. In ac tellus mollis, tincidunt est id, finibus ligula.</div>

                <table class="table table-striped mt-3">
                    <tr>
                        <th>Event</th>
                        <th>Emotion</th>
                    </tr>
                    <tr>
                        <td>Food Delivery</td>
                        <td>Happy</td>
                    </tr>
                    <tr>
                        <td>Parking Ticket</td>
                        <td>Sad</td>
                    </tr>
                    <tr>
                        <td>New Skill Learned</td>
                        <td>Excited</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</body>