<style type="text/css">
	/* STAGE 1a */
	.div1 {
		background: orange;
		display: inline; /* STAGE 1b */
		/*display: none;*/ /* STAGE 1c */
		/*visibility: hidden;*/ /* STAGE 1d - leave display inline there */
	}

	/* STAGE 2a */
	.div2 {
		background: yellow;
		position: absolute;
		top: 65px;
		left: 300px;
		/* STAGE 4a */
		z-index: 1; 
	}

	/* STAGE 3a */
	.div3 {
		background: lightblue;
		position: absolute;
		top: 65px;
		left: 300px;
		/* STAGE 4b */
		z-index: 2;
	}
</style>

<!-- STAGE 2 -->
<div class="div2">this is absolutely positioned</div>

<!-- STAGE 3 -->
<div class="div3">so is this!</div>

<!-- STAGE 1 -->
Lorem ipsum dolor sit amet, <div class="div1"> DIV  1 </div> consectetur adipiscing elit. Nulla eleifend quis erat nec varius. Vivamus tincidunt magna in elit imperdiet commodo. Fusce faucibus mattis odio, id posuere nulla ultricies vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam a fermentum erat. Nam eleifend mollis vestibulum. Duis ullamcorper at nunc vel consectetur. Maecenas ullamcorper urna in ex interdum pellentesque. Donec tempus ac sem in semper. Donec erat urna, finibus rhoncus luctus quis, pretium vel enim. Suspendisse vitae tellus porttitor, placerat tellus sed, finibus mi. Aliquam rutrum varius maximus. Sed semper libero in odio tincidunt, sed pellentesque massa tempus. Donec erat sem, suscipit a tortor a, consequat ornare nibh.

Nulla facilisi. Donec non molestie neque. Nullam non viverra tortor. Praesent ut arcu id felis feugiat dictum. Nunc feugiat ullamcorper dolor, non gravida diam fermentum vitae. Praesent quis ipsum vitae felis tempor faucibus. Fusce porttitor porta pharetra. Donec ullamcorper lacus eget tincidunt lobortis. Nullam consectetur mollis tortor, ut ultrices libero malesuada a. In hac habitasse platea dictumst.

Aenean ac tellus hendrerit, feugiat neque eu, tristique diam. Sed sit amet mollis nisl. Suspendisse semper justo arcu, quis ultricies dui porta non. Ut eu semper arcu, sed congue velit. Mauris gravida quis diam ut volutpat. Vivamus eu justo eu elit tristique vehicula sed eu sem. Cras interdum diam nec enim sollicitudin, finibus imperdiet velit fringilla. Proin ornare malesuada ornare. Sed tempus dignissim justo. Nullam tempor arcu luctus lectus efficitur tempus. Fusce in orci facilisis, suscipit odio ut, faucibus sapien. Cras bibendum purus elit. Nam dui odio, sagittis et massa et, congue rhoncus quam. Ut bibendum risus mattis mollis lacinia.