<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"/>

<!-- STAGE 2 -->
<style type="text/css">
	i {
		font-size: 50px;
		color: blue;
	}
</style>

<i class="far fa-arrow-alt-circle-left"></i>
<i class="fab fa-accusoft"></i>

<i class="fas fa-archway"></i>