<style type="text/css">
    .responsive-wrap {
        margin: auto;
        width: 800px;
        height: 800px;
        padding: 50px;
        font-family: arial;
        text-align: center;
        border: 5px solid blue;
    }

    .size-label {
        color: gray;
        margin: 30px;
        font-size: 30px;
    }

    .size-label.tablet, .size-label.phone {
        display: none;
    }

    .infographic {
        width: 200px;
        height: 75px;
        padding: 15px;
        border-radius: 15px;
        border: 1px dashed gray;
        display: inline-table;
    }

    .infographic .heading {
        font-size: 20px;
        margin-bottom: 15px;
        text-decoration: underline;
    }

    .infographic .description {
        color: gray;
        font-size: 15px;
    }

    /* PHONE */
    /* this HAS to be above the one below it to work */
    @media screen and (max-width:899px) {
        .responsive-wrap {
            width: 250px;
            height: 500px;
            border-color: red;
        }

        .size-label.desktop {
            display: none;
        }

        .size-label.phone {
            display: block;
        }

        .infographic {
            margin-bottom: 15px;
        }
    }

    /* TABLET */
    @media screen and (max-width:1200px) and (min-width:900px) {
        .responsive-wrap {
            width: 500px;
            height: 500px;
            border-color: orange;
        }

        .size-label.desktop {
            display: none;
        }

        .size-label.tablet {
            display: block;
        }

        .infographic {
            width: 100px;
            height: 100px;
        }
    }
</style>

<div class="responsive-wrap">
    <div class="size-label desktop">(Desktop)</div>
    <div class="size-label tablet">(Tablet)</div>
    <div class="size-label phone">(Phone)</div>
    <div class="infographic">
        <div class="heading">Tools</div>
        <div class="description">We have the tools to make it happen.</div>
    </div>
    <div class="infographic">
        <div class="heading">Support</div>
        <div class="description">We will support you, if you ask nicely.</div>
    </div>
    <div class="infographic">
        <div class="heading">Ideas</div>
        <div class="description">We always have great ideas.</div>
    </div>
</div>