<style type="text/css">
	a:visited { /* these need to be in this order */
		color: orange;
	}
	a:hover {
		color: green;
	}
	a:active {
		color: red;
	}
</style>

<a href="http://google.com">Google</a>